interactions:
- request:
    body: '{"name": "Test Contact", "emails": [{"email": "test.contact.20250407022438@example.com",
      "category": "work"}], "title": "Software Engineer", "company_name": "Test Company",
      "phones": [{"number": "+1-555-123-4567", "category": "work"}], "address": {"street":
      "123 Main St", "city": "San Francisco", "state": "CA", "postal_code": "94105",
      "country": "US"}, "social_profiles": [{"url": "https://linkedin.com/in/testcontact",
      "category": "linkedin"}], "tags": ["test", "api"]}'
    headers:
      Content-Type:
      - application/json
      X-PW-AccessToken:
      - b1c0a58fe5dd8a0e0839633bdc7f81bd
      X-PW-Application:
      - developer_api
      X-PW-UserEmail:
      - andrewstreets@pubx.ai
    method: POST
    uri: https://api.copper.com/developer_api/v1/people
  response:
    body:
      string: '{"id":172646791,"name":"Test Contact","prefix":null,"first_name":"Test","middle_name":null,"last_name":"Contact","suffix":null,"address":{"street":"123
        Main St","city":"San Francisco","state":"CA","postal_code":"94105","country":"US"},"assignee_id":null,"company_id":null,"company_name":null,"contact_type_id":1747815,"details":null,"emails":[{"email":"test.contact.20250407022438@example.com","category":"work"}],"phone_numbers":[],"socials":[],"tags":["test","api"],"title":"Software
        Engineer","websites":[],"custom_fields":[{"custom_field_definition_id":485276,"value":null}],"date_created":1743989079,"date_modified":1743989079,"date_last_contacted":null,"interaction_count":0,"leads_converted_from":[],"date_lead_created":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"4295af5c62087ac1c630930f48e65c6c"
      X-Instana-L:
      - '1'
      X-Instana-S:
      - 1fa0195670faa025
      X-Instana-T:
      - 1fa0195670faa025
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PW-AccessToken:
      - b1c0a58fe5dd8a0e0839633bdc7f81bd
      X-PW-Application:
      - developer_api
      X-PW-UserEmail:
      - andrewstreets@pubx.ai
    method: GET
    uri: https://api.copper.com/developer_api/v1/people/172646791
  response:
    body:
      string: '{"id":172646791,"name":"Test Contact","prefix":null,"first_name":"Test","middle_name":null,"last_name":"Contact","suffix":null,"address":{"street":"123
        Main St","city":"San Francisco","state":"CA","postal_code":"94105","country":"US"},"assignee_id":null,"company_id":null,"company_name":null,"contact_type_id":1747815,"details":null,"emails":[{"email":"test.contact.20250407022438@example.com","category":"work"}],"phone_numbers":[],"socials":[],"tags":["test","api"],"title":"Software
        Engineer","websites":[],"custom_fields":[{"custom_field_definition_id":485276,"value":null}],"date_created":1743989079,"date_modified":1743989079,"date_last_contacted":null,"interaction_count":0,"leads_converted_from":[],"date_lead_created":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"4295af5c62087ac1c630930f48e65c6c"
      X-Instana-L:
      - '1'
      X-Instana-S:
      - 4b182d9653751dea
      X-Instana-T:
      - 4b182d9653751dea
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Test Company", "emails": [{"email": "info.20250407022438@testcompany.com",
      "category": "work"}], "phones": [{"number": "+1-555-987-6543", "category": "work"}],
      "address": {"street": "456 Market St", "city": "San Francisco", "state": "CA",
      "postal_code": "94105", "country": "US"}, "social_profiles": [{"url": "https://linkedin.com/company/testcompany",
      "category": "linkedin"}], "tags": ["test", "api"]}'
    headers:
      Content-Type:
      - application/json
      X-PW-AccessToken:
      - b1c0a58fe5dd8a0e0839633bdc7f81bd
      X-PW-Application:
      - developer_api
      X-PW-UserEmail:
      - andrewstreets@pubx.ai
    method: POST
    uri: https://api.copper.com/developer_api/v1/companies
  response:
    body:
      string: '{"id":72029628,"name":"Test Company","address":{"street":"456 Market
        St","city":"San Francisco","state":"CA","postal_code":"94105","country":"US"},"assignee_id":null,"contact_type_id":null,"details":null,"email_domain":null,"phone_numbers":[],"primary_contact_id":null,"socials":[],"tags":["test","api"],"websites":[],"custom_fields":[{"custom_field_definition_id":485276,"value":null}],"interaction_count":0,"date_created":1743989080,"date_modified":1743989080}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"29f72f47ca709f9a1c5eb447bb857bb3"
      X-Instana-L:
      - '1'
      X-Instana-S:
      - d3f46a111911093d
      X-Instana-T:
      - d3f46a111911093d
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PW-AccessToken:
      - b1c0a58fe5dd8a0e0839633bdc7f81bd
      X-PW-Application:
      - developer_api
      X-PW-UserEmail:
      - andrewstreets@pubx.ai
    method: GET
    uri: https://api.copper.com/developer_api/v1/companies/72029628
  response:
    body:
      string: '{"id":72029628,"name":"Test Company","address":{"street":"456 Market
        St","city":"San Francisco","state":"CA","postal_code":"94105","country":"US"},"assignee_id":null,"contact_type_id":null,"details":null,"email_domain":null,"phone_numbers":[],"primary_contact_id":null,"socials":[],"tags":["test","api"],"websites":[],"custom_fields":[{"custom_field_definition_id":485276,"value":null}],"interaction_count":0,"date_created":1743989080,"date_modified":1743989080}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"89b070b53107f3d634d9889f564a2662"
      X-Instana-L:
      - '1'
      X-Instana-S:
      - b9273076856599d7
      X-Instana-T:
      - b9273076856599d7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PW-AccessToken:
      - b1c0a58fe5dd8a0e0839633bdc7f81bd
      X-PW-Application:
      - developer_api
      X-PW-UserEmail:
      - andrewstreets@pubx.ai
    method: GET
    uri: https://api.copper.com/developer_api/v1/pipelines
  response:
    body:
      string: '[{"id":841980,"name":"Sales pipeline","stages":[{"id":4871269,"name":"Commerce
        Media","win_probability":0},{"id":4936031,"name":"Lost","win_probability":0},{"id":4908018,"name":"Ice
        box","win_probability":0},{"id":3951153,"name":"Blocked","win_probability":1},{"id":4908031,"name":"Blocked
        (Degraded)","win_probability":0},{"id":3947315,"name":"Contacted","win_probability":10},{"id":4908014,"name":"Contacted
        (Degraded)","win_probability":1},{"id":3952721,"name":"In Conversation","win_probability":15},{"id":4891716,"name":"In
        Conversation (Degraded)","win_probability":10},{"id":3947316,"name":"Call
        Set","win_probability":20},{"id":3953732,"name":"In Discussion","win_probability":30},{"id":4891717,"name":"Internal
        review","win_probability":40},{"id":4661159,"name":"Technical refinement","win_probability":45},{"id":4891718,"name":"Agreement
        to test","win_probability":55},{"id":4455948,"name":"With Onboarding","win_probability":65},{"id":3973319,"name":"Live
        - Free First Month","win_probability":90},{"id":4447360,"name":"Paying Customer","win_probability":100}],"type":"opportunity","is_revenue":true},{"id":1010217,"name":"Accounts
        pipeline","stages":[{"id":4757457,"name":"Blocked","win_probability":1},{"id":4908032,"name":"Exploring
        / Potential","win_probability":5},{"id":4757455,"name":"Pre-Onboarding","win_probability":10},{"id":4757456,"name":"Onboarding","win_probability":50},{"id":4622684,"name":"Live
        (Free Test Period)","win_probability":90},{"id":4908033,"name":"Paying Customer","win_probability":100}],"type":"opportunity","is_revenue":true},{"id":1046549,"name":"DNU_Onboarding
        - Paying Customers","stages":[{"id":4757438,"name":"Blocked","win_probability":10},{"id":4757437,"name":"Pre-Onboarding","win_probability":80},{"id":4757439,"name":"Onboarding","win_probability":90},{"id":4757440,"name":"Training","win_probability":90},{"id":4757441,"name":"Live","win_probability":100}],"type":"opportunity","is_revenue":true}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2e68054fed7b5e4f73b2f1f8b6e98559"
      X-Instana-L:
      - '1'
      X-Instana-S:
      - c801972c962723e8
      X-Instana-T:
      - c801972c962723e8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PW-AccessToken:
      - b1c0a58fe5dd8a0e0839633bdc7f81bd
      X-PW-Application:
      - developer_api
      X-PW-UserEmail:
      - andrewstreets@pubx.ai
    method: GET
    uri: https://api.copper.com/developer_api/v1/customer_sources
  response:
    body:
      string: '[{"id":1295869,"name":"Email"},{"id":1295870,"name":"Cold Call"},{"id":1295871,"name":"Advertising"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cfaf3c199b66eeed93286de4d3968972"
      X-Instana-L:
      - '1'
      X-Instana-S:
      - 0535c6389593d166
      X-Instana-T:
      - 0535c6389593d166
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "Test Opportunity", "primary_contact_id": 172646795, "pipeline_id":
      841980, "pipeline_stage_id": 4871269, "monetary_value": 10000.0, "close_date":
      "2025-05-07T02:25:25.424938", "customer_source_id": 1295869, "company_id": 72029631,
      "tags": ["test", "api"], "priority": "High", "status": "Open", "win_probability":
      50}'
    headers:
      Content-Type:
      - application/json
      X-PW-AccessToken:
      - b1c0a58fe5dd8a0e0839633bdc7f81bd
      X-PW-Application:
      - developer_api
      X-PW-UserEmail:
      - andrewstreets@pubx.ai
    method: POST
    uri: https://api.copper.com/developer_api/v1/opportunities
  response:
    body:
      string: '{"success":false,"status":500,"message":"invalid date"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Instana-L:
      - '1'
      X-Instana-S:
      - 0983ee45f4b35729
      X-Instana-T:
      - 0983ee45f4b35729
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: '{"name": "Test Opportunity", "primary_contact_id": 172646805, "pipeline_id":
      841980, "pipeline_stage_id": 4871269, "company_id": 72029634}'
    headers:
      Content-Type:
      - application/json
      X-PW-AccessToken:
      - b1c0a58fe5dd8a0e0839633bdc7f81bd
      X-PW-Application:
      - developer_api
      X-PW-UserEmail:
      - andrewstreets@pubx.ai
    method: POST
    uri: https://api.copper.com/developer_api/v1/opportunities
  response:
    body:
      string: '{"id":34057369,"name":"Test Opportunity","assignee_id":null,"close_date":null,"company_id":72029634,"company_name":"Test
        Company","customer_source_id":null,"details":null,"loss_reason_id":null,"pipeline_id":841980,"pipeline_is_revenue":true,"pipeline_stage_id":4871269,"pipeline_type":"opportunity","primary_contact_id":172646805,"priority":"None","status":"Open","tags":[],"interaction_count":0,"monetary_unit":null,"monetary_value":null,"converted_unit":"USD","converted_value":null,"win_probability":0,"date_stage_changed":1743989390,"date_last_contacted":null,"leads_converted_from":[],"date_lead_created":null,"date_created":1743989390,"date_modified":1743989390,"custom_fields":[{"custom_field_definition_id":604336,"value":null},{"custom_field_definition_id":678026,"value":[]},{"custom_field_definition_id":611853,"value":null},{"custom_field_definition_id":604348,"value":null},{"custom_field_definition_id":612230,"value":null},{"custom_field_definition_id":608698,"value":null},{"custom_field_definition_id":485276,"value":null},{"custom_field_definition_id":667581,"value":null}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"33ccefb3c68252711bfb2d96eed474be"
      X-Instana-L:
      - '1'
      X-Instana-S:
      - b46ef035b2cb5c5b
      X-Instana-T:
      - b46ef035b2cb5c5b
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PW-AccessToken:
      - b1c0a58fe5dd8a0e0839633bdc7f81bd
      X-PW-Application:
      - developer_api
      X-PW-UserEmail:
      - andrewstreets@pubx.ai
    method: GET
    uri: https://api.copper.com/developer_api/v1/opportunities/34057369
  response:
    body:
      string: '{"id":34057369,"name":"Test Opportunity","assignee_id":null,"close_date":null,"company_id":72029634,"company_name":"Test
       [...]
[...]
- request:
    body: '{"type": {"category": "note", "id": 0}, "details": "Test activity for opportunity",
      "parent": {"id": 34057371, "type": "opportunity"}}'
    headers:
      Content-Type:
      - application/json
      X-PW-AccessToken:
      - b1c0a58fe5dd8a0e0839633bdc7f81bd
      X-PW-Application:
      - developer_api
      X-PW-UserEmail:
      - andrewstreets@pubx.ai
    method: POST
    uri: https://api.copper.com/developer_api/v1/activities
  response:
    body:
      string: '{"success":false,"status":422,"message":"Invalid request: Invalid value
        for activity type category; can only create activities of category ''user'':
        note"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Instana-L:
      - '1'
      X-Instana-S:
      - a614dd89523e9341
      X-Instana-T:
      - a614dd89523e9341
    status:
      code: 422
      message: Unprocessable Entity
[...]
- request:
    body: '{"type": {"category": "user", "id": 0}, "details": "Test activity for opportunity",
      "parent": {"id": 34057373, "type": "opportunity"}}'
    headers:
      Content-Type:
      - application/json
      X-PW-AccessToken:
      - b1c0a58fe5dd8a0e0839633bdc7f81bd
      X-PW-Application:
      - developer_api
      X-PW-UserEmail:
      - andrewstreets@pubx.ai
    method: POST
    uri: https://api.copper.com/developer_api/v1/activities
  response:
    body:
      string: '{"id":12251379848,"parent":{"id":34057373,"type":"opportunity"},"type":{"id":0,"category":"user"},"user_id":1139515,"details":"Test
        activity for opportunity","activity_date":1743989510,"old_value":null,"new_value":null,"date_created":1743989510,"date_modified":1743989510}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"cb8368a8e01215045a219ae4f52c7c94"
      X-Instana-L:
      - '1'
      X-Instana-S:
      - b84df5a42aa2e9e7
      X-Instana-T:
      - b84df5a42aa2e9e7
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PW-AccessToken:
      - b1c0a58fe5dd8a0e0839633bdc7f81bd
      X-PW-Application:
      - developer_api
      X-PW-UserEmail:
      - andrewstreets@pubx.ai
    method: DELETE
    uri: https://api.copper.com/developer_api/v1/opportunities/34057373
  response:
    body:
      string: '{"id":34057373,"is_deleted":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"eccdd1069bd8bfc7e8c43793da2dbb86"
      X-Instana-L:
      - '1'
      X-Instana-S:
      - 32d9a38ed263cb8c
      X-Instana-T:
      - 32d9a38ed263cb8c
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "Test Task", "related_resource": {"id": 34057378, "type": "opportunity"},
      "assignee_id": 172646877, "due_date": 1744594700, "reminder_date": 1744508300,
      "priority": "High", "status": "Open", "details": "Test task details", "tags":
      ["test", "api"]}'
    headers:
      Content-Type:
      - application/json
      X-PW-AccessToken:
      - b1c0a58fe5dd8a0e0839633bdc7f81bd
      X-PW-Application:
      - developer_api
      X-PW-UserEmail:
      - andrewstreets@pubx.ai
    method: POST
    uri: https://api.copper.com/developer_api/v1/tasks
  response:
    body:
      string: '{"success":false,"status":422,"message":"Invalid input: Validation
        errors: Assignee Id: Invalid value for Assignee Id; no  exists with ID 172646877"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Instana-L:
      - '1'
      X-Instana-S:
      - df253054df9ff7d2
      X-Instana-T:
      - df253054df9ff7d2
    status:
      code: 422
      message: Unprocessable Entity
[...]
- request:
    body: '{"name": "Test Task", "related_resource": {"id": 34057379, "type": "opportunity"},
      "assignee_id": 1139515, "due_date": 1744594814, "reminder_date": 1744508414,
      "priority": "High", "status": "Open", "details": "Test task details", "tags":
      ["test", "api"]}'
    headers:
      Content-Type:
      - application/json
      X-PW-AccessToken:
      - b1c0a58fe5dd8a0e0839633bdc7f81bd
      X-PW-Application:
      - developer_api
      X-PW-UserEmail:
      - andrewstreets@pubx.ai
    method: POST
    uri: https://api.copper.com/developer_api/v1/tasks
  response:
    body:
      string: '{"id":53379219,"name":"Test Task","related_resource":{"id":34057379,"type":"opportunity"},"assignee_id":1139515,"due_date":1744594814,"reminder_date":1744508414,"completed_date":null,"priority":"High","status":"Open","details":"Test
        task details","tags":["test","api"],"custom_fields":[{"custom_field_definition_id":485276,"value":null}],"date_created":1743990015,"date_modified":1743990015,"custom_activity_type_id":1135364}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ff80e0e6d81e1a6867b6c2097c901430"
      X-Instana-L:
      - '1'
      X-Instana-S:
      - 093d3ddedc216a57
      X-Instana-T:
      - 093d3ddedc216a57
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PW-AccessToken:
      - b1c0a58fe5dd8a0e0839633bdc7f81bd
      X-PW-Application:
      - developer_api
      X-PW-UserEmail:
      - andrewstreets@pubx.ai
    method: GET
    uri: https://api.copper.com/developer_api/v1/tasks/53379219
  response:
    body:
      string: '{"id":53379219,"name":"Test Task","related_resource":{"id":34057379,"type":"opportunity"},"assignee_id":1139515,"due_date":1744594814,"reminder_date":1744508414,"completed_date":null,"priority":"High","status":"Open","details":"Test
        task details","tags":["test","api"],"custom_fields":[{"custom_field_definition_id":485276,"value":null}],"date_created":1743990015,"date_modified":1743990015,"custom_activity_type_id":1135364}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"72fde06786156ccb06fccad4794e13cd"
      X-Instana-L:
      - '1'
      X-Instana-S:
      - b9d09b11c52fccf4
      X-Instana-T:
      - b9d09b11c52fccf4
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-PW-AccessToken:
      - b1c0a58fe5dd8a0e0839633bdc7f81bd
      X-PW-Application:
      - developer_api
      X-PW-UserEmail:
      - andrewstreets@pubx.ai
    method: DELETE
    uri: https://api.copper.com/developer_api/v1/people/172646880
  response:
    body:
      string: '{"id":172646880,"is_deleted":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1fef2ffc5f0309fadbf0737133e5cf87"
      X-Instana-L:
      - '1'
      X-Instana-S:
      - 7e1d1f3eddeecf10
      X-Instana-T:
      - 7e1d1f3eddeecf10
    status:
      code: 200
      message: OK
version: 1
